<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="#{foto.liste.headline}"></title>
    <link rel="stylesheet" href="main.css" th:href="@{/main.css}" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body id="foto_liste">
    <div class="header">
      <table>
        <tr>
          <td>
            <h1 th:text="#{foto.liste.headline}"></h1>
            <p>Hallo <span th:text="${benutzer}"></span>!</p>
          </td>
          <td>
          <form th:action="@{/logout}" th:method="POST">
            <input class="btn" type="submit" value="Logout"/>
          </form>
          </td>
        </tr>
      </table>
    </div>

    <form
      action="#"
      th:action="@{/foto}"
      th:method="post"
      enctype="multipart/form-data"
    >
      <label for="datei" th:text="#{form.file}"></label>
      <input type="file" name="datei" />
      <button class="btn" type="submit" th:text="#{btn.upload}"></button>
    </form>

    <table class="table">
      <thead>
        <tr>
          <td th:text="#{form.filename}"></td>
          <td th:text="#{form.timestamp}"></td>
          <td th:text="#{form.image}"></td>
          <td th:text="#{form.map}"></td>
          <td th:text="#{btn.delete}"></td>
          <td th:text="Kommentare"></td>
        </tr>
      </thead>
      <tbody>
        <tr th:each="foto : ${fotos}">
          <td th:text="${foto.dateiname}"></td>
          <td th:text="${foto.zeitstempel}"></td>
          <td>
            <img
              th:src="@{foto/{id}(id=${foto.id})}"
              th:alt="${foto.dateiname}"
              width="200"
              height="auto"
            />
          </td>
          <td>
            <a
              target="_blank"
              th:href="|https://www.openstreetmap.org/#map=17/${foto.geobreite}/${foto.geolaenge}|"
              th:text="${foto.ort}"
            ></a>
          </td>
          <td>
            <a
              th:href="@{'/foto/'+${foto.id}}+'/del'"
              th:text="#{btn.delete}"
            ></a>
          </td>
          <td>
            <a
              th:href="@{'/foto/'+${foto.id}}+'/kommentar'"
              th:text="Kommentare"
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
