<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Sichtung</title>
    <link rel="stylesheet" href="main.css" th:href="@{/main.css}" />
  </head>
  <body>
    <h1 class="header">Bitte berichten Sie von Ihrer Sichtung</h1>
    <form
      action="#"
      th:action="@{/sichtung/meine/neu}"
      th:object="${meinesichtungform}"
      method="post"
    >
      <label for="name">Name</label>
      <input type="text" id="name" th:field="*{name}" value="gfd" placeholder="Name" /><br />
      <label for="ort">Ort</label>
      <input type="text" id="ort" th:field="*{ort}" placeholder="Ort" /><br />
      <label for="beschreibung">Beschreibung</label>
      <input type="text" id="beschreibung" th:field="*{beschreibung}" placeholder="Beschreibung" /><br />
      <label for="datum">Datum</label>
      <input type="date" id="datum" th:field="*{datum}" /><br />
      <button class="btn" type="submit">Speichern</button>
    </form>
    <p class="infoText" th:text="${emptyEntry}"></p>
  </body>
  </body>
</html>