<!DOCTYPE html>
<html>
  <head>
    <title th:text="#{index.headline}"></title>
    <link rel="stylesheet" href="main.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body id="index">
    <div class="header">
      <table>
        <tr>
          <td>
            <h1 th:text="#{index.headline}"></h1>
            <span th:text="#{index.textIntro}"></span>
          </td>
          <td>
            <a class="btn" href="/login" th:text="#{btn.login}"></a>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
