<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Login</title>
  </head>
  <body>
    <div align="center">
      <h1>Sichtungen</h1>
      <table>
        <thead>
          <tr>
            <td>Datum</td>
            <td>Name</td>
            <td>Ort</td>
            <td>Beschreibung</td>
          </tr>
        </thead>
        <tbody>
          <tr th:each="sichtung : ${listSichtungen}">
            <td th:text="${sichtung.getDatum()}">Datum</td>
            <td th:text="${sichtung.getName()}">Name</td>
            <td th:text="${sichtung.getOrt()}">Ort</td>
            <td th:text="${sichtung.getBeschreibung()}">Beschreibung</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
